@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto&display=swap');
@import "variable";
@import "mixin";
@import "grid";
@import "reset";
@import "layout";
// @import "module";
// @import "index";

*,*:before,*:after{
	box-sizing: border-box;
}
body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  color: $maintextcolor;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
a{
  color: $maintextcolor;
  &:link,&:visited,&:hover,&:active{
    text-decoration: none;
  }
  &:hover{
    opacity: 0.5;
  }
}
/* container */
.container {
    max-width: 1320px; /* 1296+24=1320 */
    margin: 0 auto;
    padding: 0 12px;
    @include pad(){
        max-width: 720px; /* 696+24=720 */
    }
    @include phone(){
        max-width: 369px; /* 345+24=369 */
    
    }
}

.fontStyle1{
    font-size: 20px;
    line-height: 30px;
}

.fontStyle2{
    font-size: 16px;
    line-height: 24px;
}
.fontStyle3{
    font-size: 36px;
    line-height: 54px;
    
}
.fontStyle4{
    font-size: 14px;
    line-height: 21px;
}